python-telegram-bot==20.1
python-telegram-bot[job-queue]
google-api-python-client==2.82.0
google-auth-httplib2==0.1.0
loguru==0.6.0
sqlalchemy==2.0.7
psycopg2-binary==2.9.5
aiomysql==0.1.1
pymysql==1.0.2
greenlet==2.0.2
